html,webpage,body {
    min-height: 100% !important;
    height: 100%;
    color: white;
}
body {
    margin: 0;
    padding: 0;
}

.webpage {
    background: url("../images/carBackground.jpg") no-repeat center fixed;
    background-size: cover;
    min-height: 100%;
}
.text {
    margin-left: 3%;
    margin-top: 3%;
    font-family: Arial;
    text-align: center;
}

.menuBar {
    font-size: 20px;
    font-family: Consolas;
    background: darkgray;
}


.menuBar .menuBarList {
    margin: 0;
    padding: 0;
}

.menuBar .menuBarList .menuBarListElement {
    display: inline-block;
    position: relative;
}

.menuBar .menuBarList .menuBarListElement a {
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.menuBar .menuBarList .menuBarListElement:hover {
    background: lightgray;
}

.menuBar .menuBarList .navbar-title {
    display: inline-block;
    position: relative;
}
.menuBar .menuBarList .navbar-title a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.menuBarList .menuBarListElementDropList {
    position: absolute;
    font-size: 16px;
    min-width: 200px;
    background: lightgray;
    display: none;
}

.menuBarList .menuBarListElementDropList .menuBarListElementDropListElement {
    margin-left: -40px;
    display: block;
    background: darkgray;
}

.menuBarList .menuBarListElement:hover .menuBarListElementDropList {
    display: block;
}

.menuBarList .menuBarListElementDropList .menuBarListElementDropListElement:hover {
    background: lightgray;
}


.resultTableRow {
    text-align: center;
}

.resultTableRowCell {
    padding: 5px;
    border-bottom: solid 2px lightgray;
}

.resultTableRowCellConsumption {
    padding: 5px;
    border-bottom: solid 2px lightgray;
    text-align: right;
}

.manufacturerForm {
    display: block;
    width: 100%;
    text-align: center;
    position: center;
}

.addManufacturerTitle {
    font-size: 28px;
    text-align: center;
}

.formInput {
    display: block;
    padding-bottom: 15px;
}

.formInput .formLabel {
    margin: 10px;
    display: inline-block;
    float: left;
    clear: left;
    width: 40%;
    text-align: right;
    padding-right: 25px;
}

.formInput input {
    color: white;
    margin-top: 10px;
    display: inline-block;
    float: left;
    width: 20%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px white;
    background-color: transparent;
}

input:focus {
    border-bottom: 3px solid white;
    transition: 0.1s;
}

.formButton {
    margin-top: 80px;
    display: block;
}
