.carsTitle {
    display: block;
    position: center;
    font-size: 28px;
    text-align: center;
}

.carTable {
    margin: auto;
    border-spacing: 0;
    padding-bottom: 20px;
}

.carTableColumnNames {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: darkgray;
}

.carTableColumnName {
    padding: 6px;
    border-bottom: double 2px white;
}