.manufacturersTitle {
    display: block;
    position: center;
    font-size: 28px;
    text-align: center;
}

.manufacturerTable {
    margin: auto;
    border-spacing: 0;
    padding-bottom: 200px;
}

.manufacturerTableColumnNames {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: darkgray;
}

.manufacturerTableColumnName {
    padding: 6px;
    border-bottom: double 2px white;
}